@import "dailog";

@import "titlechart";
/*身体 和 *衣服*/
@import "cloth";
/* 道具 */
@import "props";

/*文章排版*/
/*字体预设*/

/*分场景背景色*/
section#designer {
  background: #EB713B;
}
section#coder {
  background: #3da3a2;
}
section#pm {
  background: #f2b636;
}
ul {
  list-style-type:none;
  padding-left:0;
}

