div#dialog {
  font-size: 18px;
  position: fixed;
  top: 10%;
  left: 25%;
  border-radius: 8px;
  width: 50%;
  z-index: 100;
  background: #ffffff;
  padding: 10px 10px 10px;
  font-family: 'Lato', sans-serif;
  box-shadow: 2px 2px 4px rgba(60, 60, 60, 0.2); }

div#dialog:after {
  border: solid;
  border-color: transparent #fff;
  /*上下边框透明,左右两边*/
  border-width: 0px 0px 20px 20px;
  content: "";
  right: 60px;
  bottom: -16px;
  display: block;
  position: absolute;
  z-index: 21; }

.title-chart, #coder .title-chart {
  width: 75%;
  padding: 0 1em;
  margin: 0 20px;
  border-left: #fff solid 2px;
  z-index: 0;
  color: rgba(255, 255, 255, 0.8); }

.title-chart .title, .title-chart #coder .title-chart, #coder .title-chart .title-chart {
  margin-top: 0;
  font-weight: 100;
  font-family: Oswald;
  color: #fff;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5); }

.title-chart > ul, .title-chart > #coder .title-chart, #coder .title-chart > .title-chart {
  font-size: 2em; }

#coder .title-chart {
  text-align: right;
  border-left: none !important;
  border-right: #fff solid 2px; }

/*身体 和 *衣服*/
/*第一场景,脱衣服*/
/*身体尺寸*/
/*全裸*/
#body {
  height: 259px;
  width: 100%;
  min-width: 200px;
  margin: 0 auto;
  background: transparent url(../images/Qnude.svg) no-repeat center;
  position: relative;
  z-index: 1; }

/*git t恤*/
.git-shirt {
  height: 259px;
  width: 100%;
  min-width: 200px;
  margin: 0 auto;
  background: transparent url('../images/gitshirt.svg') no-repeat center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3; }

/*内裤*/
.git-short {
  height: 259px;
  width: 100%;
  min-width: 200px;
  margin: 0 auto;
  background: transparent url('../images/gitshort.svg') no-repeat center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2; }

/*dirbbble 篮球服*/
.basket-uniform {
  height: 259px;
  width: 100%;
  min-width: 200px;
  margin: 0 auto;
  background: transparent url('../images/basketuniform.svg') no-repeat center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3; }

.basket-short {
  height: 259px;
  width: 100%;
  min-width: 200px;
  margin: 0 auto;
  background: transparent url('../images/basketshort.svg') no-repeat center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2; }

.pm-shirt {
  height: 259px;
  width: 100%;
  min-width: 200px;
  margin: 0 auto;
  background: transparent url('../images/pmshirt.svg') no-repeat center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3; }

.pm-short {
  height: 259px;
  width: 100%;
  min-width: 200px;
  margin: 0 auto;
  background: transparent url('../images/pmshort.svg') no-repeat center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2; }

/* 道具 */
/*道具*/
.props {
  width: 100%; }

.props ul {
  width: 98%; }

.props ul > li {
  float: right;
  width: 33%;
  height: 100px; }

.degree {
  background-size: contain;
  background: transparent url('../images/cap.svg') center no-repeat; }

.manager {
  background-size: contain;
  background: transparent url('../images/cap.svg') center no-repeat; }

.badge {
  background-size: contain;
  background: transparent url('../images/cap.svg') center no-repeat; }

/*文章排版*/
/*字体预设*/
/*分场景背景色*/
section#designer {
  background: #EB713B; }

section#coder {
  background: #3da3a2; }

section#pm {
  background: #f2b636; }

ul {
  list-style-type: none;
  padding-left: 0; }

/*# sourceMappingURL=main.css.map */