/*道具*/
.props {
  width:100%;
}
.props ul{
  width:98%
}

.props ul>li {
  float:right;
  width:33%;
  height:100px;
}

.degree {
  background-size: contain;
  background: transparent url('../images/cap.svg') center no-repeat;
}
.degree:hover {

}
.manager {
  background-size: contain;
  background: transparent url('../images/cap.svg') center no-repeat;
}

.badge {
  background-size: contain;
  background: transparent url('../images/cap.svg') center no-repeat;
}